<header class="row centered-med-up">
	<!-- <div class="left medium-3 columns">Left Div</div> -->

	<div id="title" class="medium-6 medium-offset-3 columns">BetMonsta</div>

	<% if logged_in? %>
		<div id="user-dropdown-group" class="medium-3 columns">
			<div id="user-dropdown-link" class="dropdown" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false">
				<%= "Logged in as #{current_user.username}" %>
				<div class="open-dropdown-indicator"></div>
			</div>

			<ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true">
				<li><%= link_to "User Settings", user_path %></li>
				<li><%= link_to "Log Out", destroy_session_path %></li>
			</ul>
		</div>
	<% else %>
		<div id="login-links" class="medium-3 columns">
			<%= link_to "Sign Up", new_user_path %>
			<%= link_to "Log In", new_session_path %>
		</div>
	<% end -%>
</header>