<% if logged_in? %>
	<div class="sticky">
		<nav class="top-bar" data-topbar role="navigation">
			<ul class="title-area">
		    	<li class="name"></li>
	    		<li class="toggle-topbar"><a href="#"><span>Menu</span></a></li>
	  		</ul>

			<section class="top-bar-section">
			    <ul>
			      <li><%= link_to "Dashboard", user_dashboard_path %></li>
			      <li class="has-dropdown">
			        <a href="#">Place Bets</a>
			        <ul class="dropdown">
			          <li><%= link_to "NBA", new_bets_path("nba") %></li>
			          <li><%= link_to "NFL", new_bets_path("nfl") %></li>
			          <li><%= link_to "MLB", new_bets_path("mlb") %></li>
			          <li><%= link_to "NHL", new_bets_path("nhl") %></li>
			        </ul>
			      </li>
			      <li class="has-dropdown">
			        <a href="#">View Bets</a>
			        <ul class="dropdown">
			          <li><%= link_to "Pending Bets", pending_bets_path %></li>
			          <li><%= link_to "Bet History", bet_history_path %></li>
			        </ul>
			      </li>
			    </ul>
			</section>
		</nav>
	</div>
<% end %>