<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "BetMonsta" %></title>

    <%= favicon_link_tag %>
    <%= favicon_link_tag "favicon-16x16.png", type: "image/png" %>
    <%= favicon_link_tag "favicon-32x32.png", type: "image/png" %>
    <%= favicon_link_tag "favicon-96x96.png", type: "image/png" %>

    <%= stylesheet_link_tag "application" %>
    <%# <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Bowlby+One+SC|Bowlby+One" %>
    <%= javascript_include_tag "vendor/modernizr", defer: true %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true, defer: true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'header' %>

    <main>
      <%= render 'navbar' %>
      <%= render 'flash' %>

      <section id="content">
        <% if content_for?(:title) %>
          <h1 id="page_title"><%= yield(:title) %></h1>
        <% end %>

        <%= yield %>
      </section>
    </main>
  </body>
</html>
